h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color:black;
    font-family: 'Arial Narrow Bold', sans-serif;
}


p {
    font-size: 15px;
}

mark {
    background-color: #e6a1be
    ;
}


.link {
    background-color: #a1e6af;
}
